  .numview-container{
      margin: 10px;
      display:inline-block;
      border-left:3px solid var(--bg1);
      border-right:3px solid var(--bg1);
      border-radius:10px;
      padding:5px;
      max-width: 100%;
  }
  .numview-container .inner-vector{
      display:inline-block;
      max-width:100%;
  }
  
  .numview-container .numview-input{
      max-width:100%;
      min-width:20px;
      min-height: 10pt;
      margin:5px;
      font-family:helvetica, arial, sans-serif;
      font-size:10pt;
      padding:3px;
      border:none;
      -moz-appearance:none;
      -webkit-appearance: none;
      background-color:rgba(0,0,0,0.05);
      border-radius:3px;
      overflow:hidden;
  }

  .var-container{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
  }