
body{
    margin: 0;
    background-color: #ededed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.logo{
    height: 100%;
}

.main-header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 7px;
    background-color: rgba(84,110,122,0.9);/* rgba(255,255,255,0.6);*/
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    z-index: 1000;
}

.main-header .header-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-items: end;
    flex-grow: 2;
    padding: 20px;
}

.main-header .header-menu .header-input-group{
    display: flex;
    border: 1px solid #fefefe;
    align-items: center;
    border-radius: 3px;
}

.main-header .header-menu .header-input-group label{
    padding: 5px;
    color: white;
    font-size: 10pt;
}
.main-header .header-menu .header-input-group select{
    padding: 5px;
    color: rgb(84,110,122);
}


.main-container{
    display: block;
    box-sizing: border-box;
    padding: 80px 20px 20px 20px ;
    min-width: 900px;
}

.main-content{
    display: grid;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    background-color: white;
    padding: 20px 20px 40px 20px;
    grid-column-gap: 5px;
    grid-row-gap: 30px;
}

.main-content>.vis-container{
    border:2px solid #aaa;
    border-radius: 4px;
    min-height: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.main-content>.vis-container>.content{
    overflow:hidden;
    height: 100%;
    z-index: 50;
    display: flex;
    flex-grow: 2;
}

.main-content>.vis-container .config{
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    z-index: 200;
    background-color: white;
    height: 33px;
}

.vis-container .wrappspanButton{
    position: absolute;
    display: flex;
    justify-content: center;
    height: 0;
    width: 0;
    left: 50%;
    bottom: -2px;
}

.vis-container .spanButton{
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    color:#546E7A;
    border-radius: 20px;
    transition: background-color 300ms linear;
}

.vis-container .spanButton[data-dir=both]{
    width: 100px;
}

.vis-container .spanButton[data-dir=down] [data-expand=up]{
    display: none;
}

.vis-container .spanButton[data-dir=up] [data-expand=down]{
    display: none;
}

.vis-container .spanButton:hover{
    background-color: rgba(84,110,122,0.3);
}

.vis-container .spanButton span{
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.vis-container .spanButton span:hover{
    background-color:  #546E7A;
    color: white;
}

.hide{display: none !important;}


select{
    padding: 3px 20px 3px 3px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIDAgNDUxLjg0NyA0NTEuODQ3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0NTEuODQ3IDQ1MS44NDc7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8cGF0aCBkPSJNMjI1LjkyMywzNTQuNzA2Yy04LjA5OCwwLTE2LjE5NS0zLjA5Mi0yMi4zNjktOS4yNjNMOS4yNywxNTEuMTU3Yy0xMi4zNTktMTIuMzU5LTEyLjM1OS0zMi4zOTcsMC00NC43NTEgICBjMTIuMzU0LTEyLjM1NCwzMi4zODgtMTIuMzU0LDQ0Ljc0OCwwbDE3MS45MDUsMTcxLjkxNWwxNzEuOTA2LTE3MS45MDljMTIuMzU5LTEyLjM1NCwzMi4zOTEtMTIuMzU0LDQ0Ljc0NCwwICAgYzEyLjM2NSwxMi4zNTQsMTIuMzY1LDMyLjM5MiwwLDQ0Ljc1MUwyNDguMjkyLDM0NS40NDlDMjQyLjExNSwzNTEuNjIxLDIzNC4wMTgsMzU0LjcwNiwyMjUuOTIzLDM1NC43MDZ6IiBmaWxsPSIjMDAwMDAwIi8+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right 4px top 50%;
    transition: background-color 150ms ease-in-out;
    border: 2px solid transparent;
}
select:hover,select:focus{
    border: 2px solid rgba(0,0,0,0.1);
}

.header-input-group{
    display: flex;
    border-right:1px solid #ccc;
    align-items: stretch;
    height: inherit;
}

.config .header-input-group select{
    height: inherit;
    position: relative;
    color: #666;
}

.messages-container{
    position: fixed;
    z-index: 2000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}

.messages-container [class^=msg-]{
    position: relative;
    display: flex;
    justify-content: stretch;
    color:white;
    background-color: #ddd;
    margin: 5px 0;
    border-radius:5px; 
}

.messages-container [class^=msg-] .msg{
    padding: 10px;
    border-right: 1px solid white;
    font-size: 11pt; 
}

.messages-container [class^=msg-] .close{
    padding: 10px;
}

.messages-container [class^=msg-] .close:hover{
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.messages-container .msg-error .close:hover{
    color:#dd0022;
}
.messages-container .msg-error{
    background-color: #dd0022;
}

.messages-container .msg-success .close:hover{
    color:#03c061;
}
.messages-container .msg-success{
    background-color: #03c061;
}

.messages-container .msg-warning .close:hover{
    color:#dd8500;
}
.messages-container .msg-warning{
    background-color: #dd8500;
}

.messages-container .msg-info .close:hover{
    color:#007add;
}
.messages-container .msg-info{
    background-color: #007add;
}

.answer{
    border-color: var(--fg2) !important; 
    border-width: 2px !important;
}

.mainOptions{
    display: flex;
}

.viewOptions{
    padding-left: 10px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.m-options{
    display: block;
    cursor:pointer;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #ccc;
    color:#444;
    min-width: 30px;
    padding: 2px;
    height: inherit;
}
.m-options:hover {
    background-color: #eee;
}

.m-options {
    text-align: center;
}

.m-options div:first-of-type{
    font-size: 11.5pt;
}


.m-options div:last-of-type{
    font-size: 6.5pt;
}

.vis-container .vis-modal{
    width: 100%;
    z-index: 100;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 35px;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
}

.vis-container .vis-modal .close-button{
    background-color: #fefefe;
    position: absolute;
    right: 15px;
    z-index: 10;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    color:#666;
}
.vis-container .vis-modal .close-button:hover{
    color: #111;
}

.vis-container .vis-modal .vis-modal-content{
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
}
.vis-container .vis-modal .matrix-name-title{
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 15px;
}

